body {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 50px;
    background-image: url('../images/welcome-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

#header {
    display: flex;
}

#logo {
    margin: 20px;
    flex: 1;
    font-size: 40px;
    color: white;
}

.nav-button {
    margin-top: 40px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
    display: inline-block;
}

#welcome-container {
    margin: 80px 600px 0 300px;
    text-align: center;
    border: 1px solid;
}

#welcome-text {
    color: white;
    font-size: 110px;
    font-weight: bolder;
}

#welcome-subtext {
    color: white;
    font-size: 30px;
}

#welcome-subtext > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

#welcome-subtext > ul > li {
    flex: 1;
}

#welcome-button {
    display: flex;
}

#go-button {
    background-image: linear-gradient(to bottom, #185431, #30a868);
    border-radius: 22px;
    font-size: 25px;
    font-weight: bolder;
    color: #154629;
    margin: 80px 180px 0 180px;
    flex: 1;
    padding: 30px 0 30px 0;
    border: 3px solid #1d7342

}

#go-button:hover {
    background-image: linear-gradient(to bottom, #1f8049, #2fd57e);
    color: #123a21;
}