{% extends "master.html" %}

{% block title %}
    Welcome :)
{% endblock %}

{% block content %}
    <div id="welcome-container">
        <div id="welcome-text">
            Algorithmic
        </div>

        <div id="welcome-subtext">
            <ul>
                <li>experience</li>
                <li>exercise</li>
                <li>explore</li>
            </ul>
        </div>
        <div id="welcome-button">
            <div id="go-button">
                <a href="{% url 'register' %}">
                    Start your journey
                </a>
            </div>
        </div>
    </div>
{% endblock %}
